In [4]:
import pandas as pd

In [13]:
pd.read_excel(r'C:\Users\Q300\Desktop\New Microsoft Excel Worksheet (2).xlsx')

,LINE,SHIFT,DATE,ODF,MODEL NAME,PRID NUMBER,STAGE,DEFECT,ROOT CAUSE,CORRECTIVE ACTION,CATEGORY,PQC ENGINEER,REPARED BY,BRAND
0,1,A,31/08/2022,IDX182766A,32ACER,2208ATBH32SX00051,TESTING,IR NOT WORK,WIRE LOOSE,FEADBACK GIVEN OPERATOR,PROCESS,HIMANSHU,SAMUEL,ACER
1,1,A,31/08/2022,IDX182766A,34ACER,2208ATBH32SX00238,TESTING,DUST ON DISPLAY,PANEL ISSUE,PANEL MOVED TO LCM,PANEL,HIMANSHU,SAMUEL,ACER
2,1,A,31/08/2022,IDX182766A,34ACER,2208ATBH32SX00128,TESTING,DUST ON DISPLAY,PANEL ISSUE,PANEL MOVED TO LCM,PANEL,HIMANSHU,SAMUEL,ACER
3,1,A,31/08/2022,IDX182766A,34ACER,2208ATBH32SX00250,TESTING,DUST ON DISPLAY,PANEL ISSUE,PANEL MOVED TO LCM,PANEL,HIMANSHU,SAMUEL,ACER
4,1,A,31/08/2022,IDX182766A,34ACER,2208ATBH32SX00816,LQC-1,LED BAR CONNECTER IMPROPER FIXED,OPERATOR ISSUE,FEEDBACK GIVEN TO OPERATOR,PROCESS,HIMANSHU,SAMUEL,ACER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,1,A,17/10/2022,IDX183382J,AR40AR2841FDFL,2210ATBH40FX00920,TESTING,DUST ON DISPLAY,PANEL ISSUE,PANEL MOVE TO LCM,PANEL,HIMANSHU,SAMUEL,ACER
191,1,A,17/10/2022,IDX183382J,AR40AR2841FDFL,2210ATBH40FX00898,TESTING,DUST ON DISPLAY,PANEL ISSUE,PANEL MOVE TO LCM,PANEL,HIMANSHU,SAMUEL,ACER
192,1,A,17/10/2022,IDX183382J,AR40AR2841FDFL,2210ATBH40FX00780,TESTING,WIFI FFC IMPROPER FIXED,REFIXED WIFI FFC,FEEDBACK GIVEN TO OPERATOR,PROCESS,HIMANSHU,SAMUEL,ACER
193,1,A,2022-10-21 00:00:00,IDX182766E,65ACER,2210ATBH65SX00378,TESTING,KEY NOT WORK,MAIN PCBA NG,FEEDBACK GIVEN TO IQC,PART,HIMANSHU,SAMUEL,ACER
194,1,A,2022-10-21 00:00:00,IDX182766E,65ACER,2210ATBH65SX00279,TESTING,DUST ON DISPLAY,PANEL ISSUE,PANEL MOVED TO LCM,PANEL,HIMANSHU,SAMUEL,ACER

In [16]:
pd.read_csv(r'C:\Users\Q300\Desktop\BillingStatement1.csv')

,Your Company Name,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Street Address,NaN,NaN,Phone:,(413) 555-0190,NaN,NaN
1,Address 2,NaN,NaN,Fax:,(413) 555-0191,NaN,NaN
2,"City, ST ZIP Code",NaN,NaN,E-mail:,someone@example.com,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Statement,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Statement #:,Enter statement number,NaN,Bill To:,Name,NaN,NaN
7,Date:,"November 8, 2022",NaN,NaN,Company Name,NaN,NaN
8,Customer ID:,Enter customer ID,NaN,NaN,Street Address,NaN,NaN
9,NaN,NaN,NaN,NaN,Address 2,NaN,NaN
10,NaN,NaN,NaN,NaN,"City, ST ZIP Code",NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Date,Type,Invoice #,Description,Amount,Payment,Balance
13,NaN,NaN,NaN,NaN,NaN,NaN,$-
14,NaN,NaN,NaN,NaN,NaN,Total,$-
15,Reminder: Please include the statement number ...,NaN,NaN,NaN,NaN,NaN,NaN
16,Terms: Balance due in 30 days.,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,REMITTANCE,NaN,NaN,NaN,NaN,NaN,NaN
19,Customer Name:,Enter customer name,NaN,NaN,NaN,NaN,NaN
20,Customer ID:,Enter customer ID,NaN,NaN,NaN,NaN,NaN
21,Statement #:,Enter statement number,NaN,NaN,NaN,NaN,NaN
22,Date:,"November 8, 2022",NaN,NaN,NaN,NaN,NaN
23,Amount Due:,$0.00,NaN,NaN,NaN,NaN,NaN
24,Amount Enclosed:,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
pd.read_csv(r'C:\Users\Q300\Desktop\himanshu.txt')

    sn\tname \t\t\t\taddress
0   1\thimanshu \t\t\tbansai
1      2\tyasus\t\t\t\tkudli
2  3\tice\t\t\t\tsanglakoti